# https://www.altassian.com/git/tutorials/saving-changes/gitignore
# binaries
*.pyc

# spyder
**/.vscode/**
**/.spyproject/**
**/.pylint.d/**
**/.pytestcache/**
**/htmlcov/**
**/src/pyg/old/**
**/docs/_build/**
**/docs/lab/.ipynb_checkpoints/**

# build files
**/dist/**
**/build/**
**/__pycache__/**
**/*.egg-info/**
*.bz
*.tar
*.zip
*.coverage

# temp files
\#*
\.\#*
\.history
\.tif

# data files
*\.csv

