numpy
pandas
scipy
fastparquet
numba
xarray
bottleneck
pymongo
dnspython
motor
flask
xlrd
sphinx
jsonpickle
matplotlib
conda-build
conda-verify
jupyterlab
pytest
pytest-asyncio
networkx
spyder=4.2.1

